<jumbotron></jumbotron>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <form name="loginForm" ng-submit="vm.login(loginForm.$valid)" novalidate>
      <div class="login-form-group" ng-class="{ 'has-error' : vm.authFail && !loginForm.password.$pristine && !loginForm.username.$pristine }">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input id="username-id" type="text" name="username" class="mdl-textfield__input" ng-model="vm.creds.username" required>
          <label class="mdl-textfield__label" for="username-id">Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input id="password-id" type="password" name="password" class="mdl-textfield__input" ng-model="vm.creds.password" required>
          <label class="mdl-textfield__label" for="password-id">Password</label>
        </div>
      </div>
      <div class="alert alert-danger" ng-show="vm.errorMessage">
        <strong>Fail...</strong> {{ vm.errorMessage }}
      </div>
      <button type="submit" ng-disabled="loginForm.$invalid" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Login
      </button>
    </form>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>