<jumbotron></jumbotron>
<div class="container" ng-show="vm.userSession.isAdmin">
  <div class="centered row">
    <button class="btn btn-success btn-lg" ui-sref="user-page">Create New User</button>
  </div>
  <br/>
  <div class="row">
    <div class="table-responsive">
      <table class="user-table table table-hover" align="center">
        <tbody>
          <tr ng-repeat="user in vm.users">
            <td class="centered">{{ user.username }}</td>
            <td>
              <div class="dropdown right-align">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Actions
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#" ui-sref="user-page({ userId:user._id })">Edit</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" ng-click="vm.deleteUser(user)">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>