<div class="container" ng-show="vm.userSession.isAdmin">
  <a ui-sref="users">Back to user management</a>
  <div ng-hide="vm.isCreate">
    <h1>{{vm.editedUser.firstName}}  {{vm.editedUser.lastName}}</h1>
  </div>
  <div ng-show="vm.isCreate">
    <h1>Create New User</h1>
  </div>
  <div class="">
    <div class="row">
      <div class="col-xs-4">
        <h4>Username:</h4>
      </div>
      <div class="col-xs-8 in-line-right">
  	    <input type="text" class="form-control input-lg" placeholder="Username" ng-model="vm.editedUser.username">
  	  </div>
    </div>
    <div class="row">
      <div class="col-xs-4 user-label">
        <h4>Password:</h4>
      </div>
      <div class="col-xs-8 in-line-right">
  	    <input type="text" class="form-control input-lg" placeholder="Password" ng-model="vm.editedUser.password">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 user-label">
        <h4>First Name:</h4>
      </div>
      <div class="col-xs-8 in-line-right">
  	    <input type="text" class="form-control input-lg" placeholder="First Name" ng-model="vm.editedUser.firstName">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 user-label">
        <h4>Last Name:</h4>
      </div>
      <div class="col-xs-8 in-line-right">
  	    <input type="text" class="form-control input-lg" placeholder="Last Name" ng-model="vm.editedUser.lastName">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 user-label">
        <h4>Role:</h4>
      </div>
      <div class="col-xs-8 in-line-right">
  	    <input type="text" class="form-control input-lg" placeholder="Role" ng-model="vm.editedUser.role">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 user-label">
        <h4>Email:</h4>
      </div>
      <div class="col-xs-8 in-line-right">
  	    <input type="text" class="form-control input-lg" placeholder="Email" ng-model="vm.editedUser.email">
      </div>
    </div>
  </div>
  <div class="row" ng-hide="vm.isCreate">
    <button class="btn btn-primary btn-lg" ng-click="vm.updateUser()">Update User</button>
  </div>
  <div class="row" ng-show="vm.isCreate">
    <button class="btn btn-primary btn-lg" ng-click="vm.createUser()">Create User</button>
  </div>
</div>