<div class="container" ng-show="vm.userSession.isAdmin">
  <div ng-hide="vm.isCreate">
    <h2>Editing User: {{vm.editedUser.firstName}}  {{vm.editedUser.lastName}}</h2>
  </div>
  <div ng-show="vm.isCreate">
    <h2>Create New User</h2>
  </div>
  <div class="">
    <div class="row">
      <div class="col-xs-2">
        <h4>Username:</h4>
      </div>
      <div class="col-xs-4 in-line-left">
  	    <input type="text" class="form-control input-lg" placeholder="Username" ng-model="vm.editedUser.username">
  	  </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h4>Password:</h4>
      </div>
      <div class="col-xs-4 in-line-left">
  	    <input type="text" class="form-control input-lg" placeholder="Password" ng-model="vm.editedUser.password">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h4>First Name:</h4>
      </div>
      <div class="col-xs-4 in-line-left">
  	    <input type="text" class="form-control input-lg" placeholder="First Name" ng-model="vm.editedUser.firstName">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h4>Last Name:</h4>
      </div>
      <div class="col-xs-4 in-line-left">
  	    <input type="text" class="form-control input-lg" placeholder="Last Name" ng-model="vm.editedUser.lastName">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h4>Role:</h4>
      </div>
      <div class="col-xs-4 in-line-left">
  	    <input type="text" class="form-control input-lg" placeholder="Role" ng-model="vm.editedUser.role">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <h4>Email:</h4>
      </div>
      <div class="col-xs-4 in-line-left">
  	    <input type="text" class="form-control input-lg" placeholder="Email" ng-model="vm.editedUser.email">
      </div>
    </div>
  </div>
  <div class="row" ng-hide="vm.isCreate">
    <button class="btn btn-primary btn-lg" ng-click="vm.updateUser()">Update User</button>
  </div>
  <div class="row" ng-show="vm.isCreate">
    <button class="btn btn-primary btn-lg" ng-click="vm.createUser()">Create User</button>
  </div>
  <br/>
  <br/>
</div>